{% extends "base.html" %}

{% block heading %} {{super()}} {% endblock %}



{% block content %}
<div class="row container-fluid">
    <div class="col-sm-6">
       <h2>People/Team</h2>
        <ul>
            <li> Steve Tsang, NCI/NIH, Gaithersburg, MD, <a href="mailto:tsang@mail.nih.gov"> tsang@mail.nih.gov</a></li>
            <li> Greg Fedewa, UCSF, San Francisco, CA, <a href="mailto:greg.fedewa@gmail.com"> greg.fedewa@gmail.com </a></li>
            <li> Sherif Farag, UNC, Chapel Hill, NC, <a href="mailto:farags@email.unc.edu"> farags@email.unc.edu </a></li>
            <li> Matthew Moss, CSHL, Cold Spring Harbor, NY, <a href="mailto:moss@cshl.edu">moss@cshl.edu</a></li>
            <li> Daniel Quang, UCI, Irvine, CA, <a href="mailto:dxquang@uci.edu">dxquang@uci.edu</a></li>
            <li> Alexey V. Rakov, UPenn, Philadelphia, PA, <a href="mailto:rakovalexey@gmail.com">rakovalexey@gmail.com</a></li>
        </ul>
    </div>
    <div class="col-sm-6"   >
       <div>
    <img style="width: 250px" src="/static/images/Logomakr_nastyBugs.png" class="ui-icon-image" alt="nasty_bugs_logo">
       </div>
    </div>
</div>
{% endblock %}


{% block footer %} {{super()}} {% endblock %}


