<!DOCTYPE html>
<html lang="en">
    <head>
        <title>NRPS-Linker</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='../static/css/home.css') }}">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        {% block javascript %} {% endblock %}

       </head>

    <body>
        <div id="content_all">
            <div id="headerBlock"  class="container-fluid">
            {% block heading %}
                <nav class="navbar navbar-inverse">
                  <div class="container-fluid">
                    <div class="navbar-header">
                      <a class="navbar-brand" href="{{ url_for('main') }}">NastyBugs</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a href="{{ url_for('getinfo') }}">Contact</a></li>
                    </ul>
                  </div>
                </nav>
                <div class= container-fluid">
                    <div class="row">
                        <div class="col-lg-3">
                            <a href="{{ url_for('main') }}"><img src="/static/images/Logomakr_nastyBugs.png" style="width: 250px"></a>
                        </div>
                        <div class="col-lg-6 text-center">
                            <h1 id="title" >NastyBugs: a simple method for extracting antimicrobial resistance information from metagenomes</h1>
                        </div>
                       <div class="col-lg-3" align="right">
                                <a href="https://github.com/NCBI-Hackathons/MetagenomicAntibioticResistance" target="_blank"><img src="/static/images/NCBI2.png" style="width: 250px"></a>
                        </div>
                    </div>
                    <hr style="height:3px;border:none;color:#333;background-color:#333;"/>
                </div>
                <div class="container-fluid">
                  <ul class="nav nav-tabs nav-justified">
                    <li><a href="{{ url_for('main') }}" style="font-size: medium">Home</a></li>
                    <li class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="font-size: medium"> CARD Example Output <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="{{ url_for('getGENE') }}" style="font-size: medium">CARD Gene Example Output</a></li>
                        <li><a href="{{ url_for('getSNP') }}" style="font-size: medium" id="NCBI_DB_all">CARD SNP Example Output </a></li>
                      </ul>
                    </li>
                    <li><a href="{{ url_for('downloadLib') }}">Downloads</a></li>
                  </ul>
                </div>
            {% endblock %}
            </div>
            <div id="contentBlock" class="container-fluid">

                {% block content %} {% endblock %}
            </div>
            <div id="footerBlock" class="container-fluid">
                {% block footer %}
                <hr style="height:3px;border:none;color:#333;background-color:#333;"/>
                 <br>
                <div class="row text-center">
                    <div class="col-sm-3">
                        <a href="https://pythonprogramming.net" target="_blank">
                               <img class="center-block" style="border:0;width:150px;height:70px"
                                src="/static/images/pythonLogo2.png" alt="Python" />
                        </a>
                    </div>
                    <div class="col-sm-3">
                        <a href="https://www.ncbi.nlm.nih.gov/" target="_blank">
                            <img class="center-block" style="border:0;width:200px;height:100px"
                                src="/static/images/NCBI2.png" alt="NCBI" />
                        </a>
                    </div>
                    <div class="col-sm-3">
                        <br>
                        <a href="https://logomakr.com" target="_blank">
                            <img class="center-block" style="border:0;width:150px;height:100px"
                                src="/static/images/logoMaker.jpg" alt="logoMakr" />
                        </a>
                    </div>
                    <div class="col-sm-3">
                        <br>
                        <a href="https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world" target="_blank">
                            <img class="center-block" style="border:0;width:180px;height:70px"
                                src="/static/images/flask.png" alt="Flask" />
                        </a>
                    </div>
                </div>
                {% endblock %}
            </div>
        </div>
    </body>
</html>
