{% extends "base.html" %}

{% block heading %} {{super()}} {% endblock %}


{% block content %}

<div class="container-fluid">
<div class="row">
    <div class="col-sm-5">
      <h2>Downloadable Files:</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <p><font size="4"><b>Data:</b></font><sup><font color="red"> As of August. 2017</font></sup> </p>
        <div class="list-group">
        <a href="{{url_for("download_CARD_Gene") }}" class="list-group-item">
          <h4 class="list-group-item-heading">CARD GENE</h4>
          <p class="list-group-item-text" style="color:blue;">CARD_Gene</p>
        </a>
        <a href="{{url_for("download_CARD_SNP") }}" class="list-group-item">
          <h4 class="list-group-item-heading">CARD_SNP </h4>
          <p class="list-group-item-text" style="color:blue;">CARD_SNP</p>
        </a>
      </div>
    </div>
</div>
</div>

{% endblock %}



{% block footer %} {{super()}} {% endblock %}


